@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    background: #131417;
    box-shadow: 0px 4px 4px rgba(19, 20, 23, 0.4);
    color: #FAFAFA;
}

.header_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.first_menu {
    display: flex;
    position: relative;
}

.secondary_menu {
    position: absolute;
    display: none;
    top: 59px
}

.third_menu {
    position: absolute;
    display: none;
    top: 79px;
    left: 335px;
    padding-left: 40px;
}

.second_nav {
    list-style: none;
    background: #252830;
    padding: 8px 0 8px 18px;
}

.second_nav:hover .third_menu {
    display: block;
}

.third_nav {
    border-radius: 8px 8px 0px 0px;
    width: 199px;
    list-style: none;
    background: #252830;
    padding: 8px 0 8px 18px;
}

.third_nav:last-child {
    border-radius: 0px 0px 8px 8px;
}

.third_nav:hover {
    background: #131417;
}

.second_nav:hover {
    background: #131417;
}

.second_nav img {
    margin: 0 14px;
}

.arrow_menu {
    position: absolute;
    top: -14px;
    left: 46px;
}

.menu_arrow_left {
    position: absolute;
    top: 48px;
    left: 13px
}

.second_nav:last-child {
    border-radius: 0px 0px 8px 8px;
}

.main_nav {
    padding: 18px 0;
    list-style: none;
    margin-right: 76px;
}

.main_nav:hover .secondary_menu {
    display: block;
}

.main_nav:hover .menu_href {
    color: #EB5757;
}

li:last-child {
    margin-right: 0px;
}

a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FAFAFA;
    text-decoration: none;
}

.phone {
    display: flex;
}

.phone_img {
    margin-right: 13px;
    width: 18px;
    height: 18px;
}

.LAMA {
    width: 100%;
}